/* 달력 */
.dateHead div {
  background: #82aae3;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.dateHead div:first-of-type,
.dateHead div:last-of-type {
  background-color: #ffd574;
}
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
.grid div {
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
}
.dateBoard div:nth-of-type(7n),
.dateBoard div:nth-of-type(7n + 1) {
  color: rgb(255, 2, 2);
}
.noColor {
  background: #eee;
}
.header {
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 15px;
}
.header .dateTitle {
  color: rgb(23, 57, 126);
}
/* 좌우 버튼 */
.btn {
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid rgb(23, 57, 126);
  border-width: 2px 2px 0 0;
  cursor: pointer;
  float: right;
  margin-top: -20px;
}
.prevDay {
  margin-right: 4%;
  transform: rotate(-135deg);
  /* margin-left: 40em; */
}
.nextDay {
  margin-right: 1%;
  transform: rotate(45deg);
}

/* ---- */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.scheduler {
  float: left;
}
.scheduler:nth-of-type(1) {
  padding-top: 130px;
  /* border: 1px solid red; */
  width: 65%;
  height: 1000px;
}
.scheduler:nth-of-type(2) {
  width: 35%;
  height: 1000px;
  /* border: 1px solid blue; */
  background-color: rgb(50, 67, 101);
  padding: 50px;
}
.scheduler h1 {
  font-size: 22px;
  margin-bottom: 95px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 10px;
}
.scheduler .today {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: 2px;
}
.rap {
  max-width: 820px;
  margin: 0 auto;
}
.dateHead {
  margin: 0.4rem 0;
}
.scheduler ul li {
  color: #fff;
}
.dateBoard .toColor {
  border: 1px solid rgb(97, 140, 234);
  background-color: rgba(97, 141, 234, 0.075);
}
.inputSchedul {
  width: 100%;
  height: auto;
}
.inputSchedul .todo-form {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.inputSchedul .todo-form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.184);
  border: none;
  color: rgb(255, 255, 255);
  padding-left: 2.5%;
  font-size: 15px;
  letter-spacing: 1px;
}
.inputSchedul .todo-form input::placeholder {
  color: rgb(224, 224, 224);
  letter-spacing: 1px;
}
.inputSchedul .todo-list {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}
.inputSchedul .todo-list li {
  width: 100%;
  height: auto;
  border: 1px solid pink;
  margin-bottom: 20px;
}
.inputSchedul .todo-list li button:nth-of-type(1) {
  margin-right: 5%;
  border: 1px solid blue;
  color: #fff;
  display: block;
  width: 4%;
}
.inputSchedul .todo-list li button:nth-of-type(2),
.inputSchedul .todo-list li button:nth-of-type(3) {
  padding: 5px 5px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  border-radius: 5px;
  float: right;
  margin-right: 2%;
  display: block;
  width: 13%;
}
.inputSchedul .todo-list li button:nth-of-type(2):hover {
  background-color: rgb(69, 100, 31);
  transition: all 0.3s;
}
.inputSchedul .todo-list li button:nth-of-type(3):hover {
  background-color: rgb(100, 31, 31);
  transition: all 0.3s;
}
.inputSchedul .todo-list li span {
  font-size: 16px;
  margin-right: 0%;
  font-weight: lighter;
  display: inline-block;
  width: 60%;
  border: 1px solid red;
}
